<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transporte</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <ion-list *ngIf="listaTransporte"> 

    <ion-item-sliding *ngFor="let transporte of listaTransporte"> 
      <ion-item lines="full" (click)="exibirTransporte(transporte)"> 
        <ion-thumbnail slot="start"> 
          <img *ngIf="transporte.foto" src="{{transporte.foto}}" /> 
          <ion-icon *ngIf="!transporte.foto" name="videocam-off"></ion-icon> 
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{transporte.nome}}</h1>
            
            <p>{{transporte.data}}</p>
            <ion-badge color="medium" *ngFor="let extra of transporte.extra"> 
              {{extra}}
            </ion-badge>
            <ion-icon name="star" [color]="transporte.favorito===true ? 'warning' : ('light')"></ion-icon> 
            
          </div>
        </ion-label>

        <ion-chip [color]="transporte.classificacao < 5 ? 'danger' : (transporte.classificacao < 7 ? 'warning' : 'success')"
          outline> 
          <ion-label>{{transporte.classificacao}}</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end"> 
        <ion-item-option color="primary"> 
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>