<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    
    <ion-title>Home</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
  <ion-content [fullscreen]="true"> 
    <ion-card class="cardnoticia">
      <img alt="Aria" src="https://media.discordapp.net/attachments/1135650904985579521/1142572162897682522/IMG_7802.webp?width=750&height=468"/>
      <ion-card-header>
        <ion-card-title color="primary">Aria, a inteligência artificial nativa do navegador Opera, chega para iOS</ion-card-title>
        <ion-card-subtitle>Navegador rápido e seguro para iOS.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        A Opera divulgou, nesta quarta-feira (16), que a inteligência artificial Aria chegou para todos os usuários do navegador Opera no iOS.
      </ion-card-content>
    </ion-card>
    
    <div class="cards">
   <ion-card class="cardnoticias" >
      <img class="imgs" alt="Silhouette of mountains" src="https://media.discordapp.net/attachments/1135650904985579521/1142574445656023091/IMG_7806.jpg" />
      <ion-card-header>
        <ion-card-title color="primary">Aplicativo Saúde Já é integrado à plataforma e-Cidadão.</ion-card-title>
        <ion-card-subtitle>As soluções desenvolvidas pelo Instituto das Cidades Inteligentes.</ion-card-subtitle>
      </ion-card-header>
      <ion-button fill="clear" (click)="exibirIa(ia)" >Ver Mais...</ion-button>
    </ion-card>
  
    <ion-card class="cardnoticias">
      <img class="imgs" alt="Silhouette of mountains" src="https://media.discordapp.net/attachments/1135650904985579521/1142578381561540730/IMG_7814.jpg" />
      <ion-card-header>
        <ion-card-title color="primary">Novo aplicativo de transporte começa a operar em Foz do Iguaçu.</ion-card-title>
        <ion-card-subtitle>O GURI é o novo aplicativo (app) de transporte e mobilidade urbana a operar em Foz do Iguaçu a partir desta quarta-feira, 24.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    </div>

</ion-content>